/* HeroDetailComponent's private CSS styles */
label {
  color: #435960;
  font-weight: bold;
}
input {
  font-size: 1em;
  padding: .5rem;
}
button {
  background-color: #eee;
  padding: 1rem;
  border-radius: 4px;
  font-size: 1rem;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}
input[id*="hero-superPower"] {
  margin-right: 5px;
}
.list-superPower {
  margin-top: 5px;
  margin-bottom: 5px;
}
div {
  margin-top: 15px;
  margin-bottom: 15px
}
